table(id="#{tablename}" class="pure-table #{css_classes}")
    thead
        tr
            each headingelem in #{headinglist}
            th #{headingelem}
    tbody
        block #{tablename}_content